# Xcode

## User settings
xcuserdata/

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace


.build/

Carthage/Build/

## Environment

*Development.xcconfig

# macOS System Files
.DS_Store

